@{
    ViewData["KiteApp"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <h2>Hello, <span>@User.Identity.Name!</span> Welcome to KiteApp</h2>

    <div class="clickToSearch">
    <h2>Search for places to fly your kite!</h2>
    </div>

    //Put all search and list of search here... put a partial view...
    <div id="displaySearch"></div>

}
else
{
    <h3>Register With KiteApp!</h3>
}

<p>A picture that looks nice</p>