@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model KiteApp.Models.Location

<h1>HEY! Ajax called.</h1>

<form class="wind-speed-req" method="post">

    <label for="Zip">Zip Code</label>
    <input type="text" name="Zip" required/>

    <button class="ZipSearchAcn btn btn-primary" type="submit">Fly!</button>
</form>

<div id="speed-list-submit"></div>
